body {
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: 'Mitr', sans-serif;
}

img {
    height: 100px;
    margin: auto;
}

#title {
    font-size: 6em;
}

#container {
    margin: 0 auto;
    width:100%;
    Text-align: center
}


